/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
  * Header CSS
  */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}

/**
  * Content CSS
  */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.mui--text a {
  text-decoration: none;
}

.mui--text.center {
  text-align: center;
}

.mui--text a h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 3.35rem;
}

.mui--text a sup {
  font-size: 0.8rem;
  padding-left: 0.5em;
}

.mui--text a sup span {
  margin-right: 0.5rem;
}

.vid-placeholder {
  background-color: #eee;
  padding: 5rem 9rem;
  border-radius: 0.5rem;
}

/**
  * Footer CSS
  */
footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 1rem;
}

.navToggle {
  transform: translateY(
    -300px
  ); /* the element is transposed 300px to the left of where it's supposed to be */
  transition: transform 0s ease-in-out, visibility 0s;
  visibility: hidden;
  position: absolute;
  top: 5rem;
  background-color: #2196f3;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.navToggle.active {
  transform: translateY(
    0px
  ); /* the element is returned to where it's supposed to be */
  transition: transform 0.5s ease-in-out, visibility 0s;
  visibility: visible;
}
/* Responsive menu navigation */
@media screen and (max-width: 1200px) {
  .desktop-nav-hidden {
    display: none !important;
  }
  .mobile-nav-hidden a {
    display: block !important;
  }
}
@media screen and (min-width: 1199px) {
  .mobile-nav-hidden {
    display: none !important;
  }
}
